<%- include('partials/header'); -%>

<h1 id="homepage">Home.</h1>

<div>
  <p><%= homeContent %></p>
</div>
<div>
  <% console.log(newPosts); %>
  <p><%- JSON.stringify(newPosts) %></p>
</div>

<%- include('partials/footer'); -%>
