<%- include('partials/header'); -%>

<h1 id="homepage">Home.</h1>

<div>
  <p><%= homeContent %></p>
</div>
<div>
  <% console.log(newPosts); %>
</div>

  <% for (var i=0; i<newPosts.length; i++) { %>

   <% console.log(newPosts[i].title) %>
    
   <% } %> 

<%- include('partials/footer'); -%>

    <!-- const post = {

    title: req.body.postTitle,

    content: req.body.postBody

  }; -->