<%- include('partials/header'); -%>

<h1 id="homepage">Home.</h1>

<div>
  <p><%= homeContent %></p>
</div>
<div>
  <% console.log(newPosts); %>
</div>

   <% newPosts.forEach(function(post) { %>
     <% console.log(post.title) %>
   <% }) %>
  

<%- include('partials/footer'); -%>
