<%- include('partials/header'); -%>

     <% console.log(postPageTitle) %>
     <% console.log(postPageContent) %>

       <h1><%= postPageTitle %></h1>
       <p><%= postPageContent %></p>
       

<%- include('partials/footer'); -%>